<h1>TIC TAC TOE</h1>
<p>Choose a level to play this game:</p>
  <form method="post" action="getLevel">  
    <p>Level:
      <select type="text" name="level"> 
        <option value="Random_player">Easy</option>
        <option value="Sequential_player">Medium</option>
        <option value="Unbeatable_player">Hard</option>
      </select>
    <input type="submit" value="Select"> 
 
    </p>
     </form>

<form method="post" action="getMove">  
<table id='board'>

  <tr>
    <td><%=session[:board].board_table[0]%></td>
    <td><%=session[:board].board_table[1]%></td>
    <td><%=session[:board].board_table[2]%></td>
  </tr>
  <tr>
    <td><%=session[:board].board_table[3]%></td>
    <td><%=session[:board].board_table[4]%></td>
    <td><%=session[:board].board_table[5]%></td>
  </tr>
  <tr>
    <td><%=session[:board].board_table[6]%></td>
    <td><%=session[:board].board_table[7]%></td>
    <td><%=session[:board].board_table[8]%></td>
  </tr>
  </div>
</table>
<p>Choose a position to play :
      <select type="text" name="position"> 
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>
    </p>
    <div>Result = <%=session[:result]%> </div>
    <input type="submit" value="Submit"> 
  </form>
</body>